<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender for Docker container logs -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [%c{1}] %m%n"/>
        </Console>
    </Appenders>
    
    <Loggers>
        <!-- Mule ESB application logs - INFO level -->
        <Logger name="org.mule" level="INFO"/>
        
        <!-- HTTP connector logs -->
        <Logger name="org.mule.extension.http" level="INFO"/>
        
        <!-- DataWeave logs -->
        <Logger name="com.mulesoft.weave" level="INFO"/>
        
        <!-- Our integration flows -->
        <Logger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>
        
        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
