spring:
  application:
    name: soa
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres:5432/postgres
    username: postgres
    password: postgres
  web:
    resources:
      add-mappings: false
  jackson:
    deserialization:
      fail-on-unknown-properties: true
logging:
  level:
    root: info
